#b1 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b2 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b3 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b4 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b5 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b6 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b7 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b8 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#b9 {
    width: 80px;
    height:80px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 40px;
    font-size: 30px;
    text-align: center;
}
#main {
    text-align: center;
}